{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="col-md-4">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="id_username">Usuário:</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="id_password">Senha:</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button class="btn btn-warning" type="submit">Entrar</button>
    </form>
    
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</div>


{% endblock %}